# packages in environment at /home/winnie/developer/conda_env/ds4a-t15:
#
# Name                    Version                   Build  Channel
_libgcc_mutex             0.1                        main  
argon2-cffi               20.1.0           py37h8f50634_1    conda-forge
asgiref                   3.2.10                   pypi_0    pypi
async_generator           1.10                       py_0    conda-forge
attrs                     20.2.0             pyh9f0ad1d_0    conda-forge
backcall                  0.2.0              pyh9f0ad1d_0    conda-forge
backports                 1.0                        py_2    conda-forge
backports.functools_lru_cache 1.6.1                      py_0    conda-forge
bleach                    3.2.1              pyh9f0ad1d_0    conda-forge
brotli                    1.0.9                    pypi_0    pypi
ca-certificates           2020.7.22                     0  
cachetools                4.1.1                    pypi_0    pypi
certifi                   2020.6.20                py37_0  
cffi                      1.14.3           py37he30daa8_0  
chardet                   3.0.4                    pypi_0    pypi
click                     7.1.2                    pypi_0    pypi
dash                      1.16.3                   pypi_0    pypi
dash-bootstrap-components 0.10.7                   pypi_0    pypi
dash-core-components      1.12.1                   pypi_0    pypi
dash-html-components      1.1.1                    pypi_0    pypi
dash-renderer             1.8.2                    pypi_0    pypi
dash-table                4.10.1                   pypi_0    pypi
decorator                 4.4.2                      py_0    conda-forge
defusedxml                0.6.0                      py_0    conda-forge
django                    3.0.8                    pypi_0    pypi
dnspython                 1.16.0                   pypi_0    pypi
entrypoints               0.3             py37hc8dfbb8_1001    conda-forge
flask                     1.1.2                    pypi_0    pypi
flask-compress            1.7.0                    pypi_0    pypi
future                    0.18.2                   pypi_0    pypi
fuzzywuzzy                0.18.0                   pypi_0    pypi
google-api-core           1.22.2                   pypi_0    pypi
google-api-python-client  1.12.1                   pypi_0    pypi
google-auth               1.21.2                   pypi_0    pypi
google-auth-httplib2      0.0.4                    pypi_0    pypi
google-python-cloud-debugger 2.15                     pypi_0    pypi
googleapis-common-protos  1.52.0                   pypi_0    pypi
httplib2                  0.18.1                   pypi_0    pypi
idna                      2.10                     pypi_0    pypi
importlib-metadata        2.0.0            py37hc8dfbb8_0    conda-forge
importlib_metadata        2.0.0                         0    conda-forge
ipykernel                 5.3.4            py37h43977f1_0    conda-forge
ipython                   7.18.1           py37hc6149b9_0    conda-forge
ipython_genutils          0.2.0                      py_1    conda-forge
itsdangerous              1.1.0                    pypi_0    pypi
jedi                      0.15.2                   py37_0    conda-forge
jinja2                    2.11.2             pyh9f0ad1d_0    conda-forge
joblib                    0.16.0                   pypi_0    pypi
jsonschema                3.2.0            py37hc8dfbb8_1    conda-forge
jupyter_client            6.1.7                      py_0    conda-forge
jupyter_core              4.6.3            py37hc8dfbb8_1    conda-forge
jupyterlab_pygments       0.1.2              pyh9f0ad1d_0    conda-forge
ld_impl_linux-64          2.33.1               h53a641e_7  
libedit                   3.1.20191231         h14c3975_1  
libffi                    3.3                  he6710b0_2  
libgcc-ng                 9.1.0                hdf63c60_0  
libsodium                 1.0.18               h516909a_1    conda-forge
libstdcxx-ng              9.1.0                hdf63c60_0  
markupsafe                1.1.1            py37h8f50634_1    conda-forge
mistune                   0.8.4           py37h8f50634_1001    conda-forge
nbclient                  0.5.0                      py_0    conda-forge
nbconvert                 6.0.6            py37hc8dfbb8_0    conda-forge
nbformat                  5.0.7                      py_0    conda-forge
ncurses                   6.2                  he6710b0_1  
nest-asyncio              1.4.1                      py_0    conda-forge
nltk                      3.5                      pypi_0    pypi
notebook                  6.1.4            py37hc8dfbb8_0    conda-forge
numpy                     1.19.2                   pypi_0    pypi
openssl                   1.1.1h               h516909a_0    conda-forge
packaging                 20.4               pyh9f0ad1d_0    conda-forge
pandas                    1.1.2                    pypi_0    pypi
pandoc                    2.10.1               h516909a_0    conda-forge
pandocfilters             1.4.2                      py_1    conda-forge
parso                     0.5.2                      py_0  
pexpect                   4.8.0            py37hc8dfbb8_1    conda-forge
pickleshare               0.7.5           py37hc8dfbb8_1001    conda-forge
pip                       20.2.2                   py37_0  
plotly                    4.11.0                     py_0    plotly
prometheus_client         0.8.0              pyh9f0ad1d_0    conda-forge
prompt-toolkit            3.0.7                      py_0    conda-forge
protobuf                  3.13.0                   pypi_0    pypi
ptyprocess                0.6.0                   py_1001    conda-forge
pyasn1                    0.4.8                    pypi_0    pypi
pyasn1-modules            0.2.8                    pypi_0    pypi
pyclean                   2.0.0                    pypi_0    pypi
pycparser                 2.20               pyh9f0ad1d_2    conda-forge
pygments                  2.7.1                      py_0    conda-forge
pymongo                   3.11.0                   pypi_0    pypi
pymysql                   0.10.0                   pypi_0    pypi
pyparsing                 2.4.7              pyh9f0ad1d_0    conda-forge
pyrsistent                0.17.3           py37h8f50634_0    conda-forge
python                    3.7.9                h7579374_0  
python-dateutil           2.8.1                      py_0    conda-forge
python-levenshtein        0.12.0                   pypi_0    pypi
python_abi                3.7                     1_cp37m    conda-forge
pytz                      2020.1                   pypi_0    pypi
pyyaml                    5.3.1                    pypi_0    pypi
pyzmq                     19.0.2           py37hac76be4_0    conda-forge
readline                  8.0                  h7b6447c_0  
regex                     2020.7.14                pypi_0    pypi
requests                  2.24.0                   pypi_0    pypi
retrying                  1.3.3                    py37_2  
rsa                       4.6                      pypi_0    pypi
scikit-learn              0.22.1                   pypi_0    pypi
scipy                     1.5.2                    pypi_0    pypi
send2trash                1.5.0                      py_0    conda-forge
setuptools                49.6.0                   py37_0  
six                       1.15.0             pyh9f0ad1d_0    conda-forge
sqlite                    3.33.0               h62c20be_0  
sqlparse                  0.3.1                    pypi_0    pypi
terminado                 0.9.1            py37hc8dfbb8_0    conda-forge
testpath                  0.4.4                      py_0    conda-forge
tk                        8.6.10               hbc83047_0  
tornado                   6.0.4            py37h8f50634_1    conda-forge
tqdm                      4.49.0                   pypi_0    pypi
traitlets                 5.0.4                      py_1    conda-forge
uritemplate               3.0.1                    pypi_0    pypi
urllib3                   1.25.10                  pypi_0    pypi
wcwidth                   0.2.5              pyh9f0ad1d_2    conda-forge
webencodings              0.5.1                      py_1    conda-forge
werkzeug                  1.0.1                    pypi_0    pypi
wheel                     0.35.1                     py_0  
xz                        5.2.5                h7b6447c_0  
zeromq                    4.3.3                he1b5a44_1    conda-forge
zipp                      3.2.0                      py_0    conda-forge
zlib                      1.2.11               h7b6447c_3  
